.home {
  padding: 0px;
  font-size: 20px;
  font-style: italic;
  color: rgb(53, 245, 181);
  box-sizing: border-box;
}
button {
  font-style: italic;
  margin: 25%;
  padding-inline-end: 45px;
  color: rgb(53, 245, 181);
  text-shadow: grey 2px 2px;
}
