.main {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: rgb(37, 50, 90);
  display: inline-flexbox;
  align-items: center;
  text-align: center;
}
/* .div-header {
  color: rgb(16, 29, 207);
  position: relative;
  left: 40%;
  top: -200px;
  font-style: italic;
  text-shadow: 4px 4px rgb(53, 90, 124);
}
.header {
  font-size: 17px;
  font-style: italic;
  text-shadow: 2px 2px blue;
  color: aqua;
} */

#fontShadow {
  position: relative;
  top: 15%;
  font-style: italic;
  text-shadow: rgb(61, 71, 71) 2px 2px;
  font-size: xxx-large;
}
#font-text {
  position: relative;
  top: 25%;
  font-style: italic;
  text-shadow: rgb(61, 71, 71) 2px 2px;
  font-size: xxx-large;
}
