<div id="contaner">
  <div>
    <h1 id="header">About us</h1>
    <div class="shadow">
      <p id="p-inDiv"></p>
    </div>
  </div>
  <div>
    <img class="img" src="/assets/images/792370040.jpg" />
  </div>
  <div>
    <link
      rel="stylesheet"
      href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <a
      href="https://www.instagram.com/accounts/login/"
      class="fa fa-instagram"
    ></a>
  </div>
  <div class="aboutUs">
    <span>
      We are Coupon Company Ltd. <br />
      All we have to do is bring as less many prices as possible to the market
      ,<br />
      to enable a wide range of people to purchase different products around the
      world.
      <br />Our thymme is to turn the price of your products and entertainment
      venues upside down , <br />
      all you have to do is go through our coupons and start saving big time.
    </span>
  </div>
</div>
